<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <%- include ('./partials/messages.ejs') %>
    <form action="/resetPassword" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
          </div><br>
          <button type="submit" class="btn btn-primary btn-block">forgot password</button>
    </form>
    </div>
  </div>
</div>
